body{
    background-color: #fff;
}
h1{
    color: rgb(41, 43, 49);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
h3{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman';
    font: bolder;
}
span{
    color: rgb(255, 0, 0);
}
.topnav {
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
  }
  .topnav a{
    float: left;
    color: #000000;
    text-align: center;
    padding: 12px 110px;
    text-decoration: none;
    font-size: 20px;
    
  }
  .active{
      background-color: rgb(247, 10, 10);
      border-radius: 20px;
      color: rgb(0, 0, 0);
  }

  .topnav a:hover{
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      border-radius: 20px;
    }

  a.border-button{
      background-color: #0b6e9c;
      color: white;
      border: 2px solid #fff;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 400;
      padding: 10px 28px;
      border-radius: 30px;
      display: inline-block;
      transition: all 0.3s;
      text-decoration: none;
  }
  .hero-image {
      text-align: center;
      position: sticky;
      top: 50%;
      bottom: 50%;
    
      
  }

  .kasi{
    text-align: center;
  }
.brief{
      text-align: center;
  }

  img{
      margin: 0, 0, 0, 0;
  }
  p{
    text-align: center;
    font-family: cursive;
    color: rgb(0, 0, 0);
}
header img{
    float: right;
}
div.contact{
    background-color: #9c0b0b;
    color: white;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    text-decoration: none;
    position: sticky; top: 50%; bottom: 50%;
    
    
}
h5{
    font-size: 15px;
}
div.proact{
    text-align: center;
}